#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "outline"
name = "Outline"
description.en = "Wiki and knowledge base for teams"
description.fr = "Wiki et base de connaissances pour les équipes"

version = "1.1.0~ynh1"

maintainers = ["Raoul de Limezy"]

[upstream]
license = "BUSL-1.1"
website = "https://www.getoutline.com"
demo = "https://app.getoutline.com/create"
admindoc = "https://www.getoutline.com/developers"
userdoc = "https://www.getoutline.com/about"
code = "https://github.com/outline/outline"

[antifeatures]
not-totally-free-upstream.en = "Must not be used as a commercial service to third parties"
not-totally-free-upstream.fr = "Ne doit pas être utilisé comme un service commercial pour des tiers"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "3G"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["de_DE", "en_US", "es_ES", "fr_FR", "it_IT", "nl_NL", "pl_PL", "pt_PT"]
    default = "fr_FR"

[resources]
    [resources.sources.main]
    url = "https://github.com/outline/outline/archive/refs/tags/v1.1.0.tar.gz"
    sha256 = "cdd9fb4f7dc87afe0debb9403924187909ae04ef1e5b0160abb65a4e0ba22a5c"

    autoupdate.strategy = "latest_github_release"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.ports]
    main.default = 2410

    [resources.nodejs]
    version = "20"

    [resources.apt]
    packages = "postgresql, redis-server"

    [resources.database]
    type = "postgresql"
    