test_format = 1.0

[default]

    # ------------
    # Tests to run
    # ------------

    preinstall = """
    sudo yunohost domain add dex.domain.tld
    """

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    args.dex_domain="dex.domain.tld"
    args.dex_path="/example"
